body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0.3vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.liner {
  border-bottom: 1px solid rgb(193, 183, 183);
  width: 100%;
}


/* .sidebar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: blueviolet;
  background-color: #0000ff;
  transition:
    width 2s,
    height 2s,
    background-color 2s,
    rotate 2s;

    
} */
/* 
.sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
} */

.sidebar {
  position: fixed;
  top: 0;
  right: 0px;
  /* Adjust the width accordingly */
  width: 30vw;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
  color: white;
  transition: right 0.3s ease;
  /* Smooth transition */
  overflow-x: hidden;
  padding: 20px;
}

.App-header2{
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
 }
 .wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}

.qq {
  font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Poppins', 'Source Sans Pro', 'Raleway', 'Noto Sans', 'Ubuntu', 'Playfair Display', 'Merriweather', 'Nunito', 'PT Sans', 'Quicksand', 'Inter', 'Work Sans', 'Cabin', 'Bebas Neue', 'Oswald', 'Rubik', sans-serif;
}
.preview {
  /* font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', 'Poppins', 'Source Sans Pro', 'Raleway', 'Noto Sans', 'Ubuntu', 'Playfair Display', 'Merriweather', 'Nunito', 'PT Sans', 'Quicksand', 'Inter', 'Work Sans', 'Cabin', 'Bebas Neue', 'Oswald', 'Rubik', sans-serif; */
  /* You can add other styles as needed */
}
.preview {
  font-family: 'Roboto', 'Creepster', sans-serif;
}

.custom-blockquote {
  border-bottom: 1px solid #e41818; /* Add a horizontal border line */
  padding-bottom: 10px; /* Add padding to separate the text from the border */
}